{% extends 'base.html' %}

{% block titulo %}
HomeFilmes
{% endblock %}


{% block content%}
<main class='bg-primary_black min-h-screen w-full'>
    <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex  items-end bg-cover" style="background-image: url('{{object.thumb.url}}')">
        <div>
            <h2 class="text-6xl font-semibold text-white my-4">
                {{object.titulo}}
            </h2>
            <p class=" w-11/12 md:w-5/12 font-medium text-white my-4">
                {{object.descricao|slice:":100"}}
            </p>
            <div class="flex my-4">
                <a href="{{object.episodios.first.link}}">
                    <button class="flex items-center bg-white py-2 px-5 rounded-md" style='color:black;'>
                        <ion-icon name="play" class="text-2xl"></ion-icon>
                        <span class="ml-3 font-medium">
                            Play
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </section>
    <section class='bg-primary_black flex justify-center py-10'>
        <div class="p-8 w-10/12 relative" >
            <h2 class="text-gray-200 text-3xl font-medium">
                Descrição
            </h2>
            <div class="flex justify-left  items-center min-w-full  movie_lis">
                <p class="text-gray-100 text-lg">
                    {{object.descricao}}
                    <br>
                    Visualizações: {{object.visualizacoes}}
                </p>
            </div>

            <div style='margin-top:2rem;margin-bottom:2rem;'>
                <h2 class="text-gray-200 text-3xl font-medium">
                    Episódios

                </h2>
                {% for episodio in object.episodios.all %}
                    <h3 class='text-lg'>

                        <a href="{{episodio.link}}">
                             <p>Episodio {{ forloop.counter }}: {{episodio}}</p>
                        </a>
                    </h3>
                {%endfor%}
            </div>

        </div>
    </section>

    <section class='bg-primary_black flex justify-center py-10'>
        <div class="p-8 w-10/12 relative" >
            <h2 class="text-gray-200 text-2xl font-medium">
                Relacionados
            </h2>
            <div class="flex flex-wrap items-center min-w-full movie_lis">
                {% for filme in filmes_relacionados %}
                <div class="m-4 bg-blue-500 overflow-hidden flex-shrink-0 rounded-md cursor-pointer h-64 w-96">
                    <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                            <img src="{{filme.thumb.url}}" class="object-cover w-full h-full " alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</main>


<!--
<div class="py-40">
    <h1>Esse e o Filme: {{object.titulo}}</h1>
    <p>{{object}}</p>
    <p>{{object.descricao}}</p>
        <p>Vizualizacoes: {{object.visualizacoes}}</p>
    <img src="{{object.thumb.url}}">

    <h2>Episódios</h2>
    {% for episodio in object.episodios.all %}
    <a href="{{episodio.link}}">
        <p>Episodio {{ forloop.counter }}: {{episodio}}</p>
    </a>
    {% endfor %}
</div>
<div>
    <h1>TESSTESSS</h1>
    {% for filme in filmes_relacionados %}
      <p>
          <a href="{% url 'filme:detalhesfilme' filme.pk %}">
              {{filme.titulo}}
          </a>
      </p>
    {% endfor %}
</div>
{% endblock %}
-->