{% extends 'base.html' %}

{% block titulo %}
HomeFilmes
{% endblock %}

{% block content%}
<div class="py-40">
    <h1>Esse e o Filme: {{object.titulo}}</h1>
    <p>{{object}}</p>
    <p>{{object.descricao}}</p>
    <img src="{{object.thumb.url}}">

    <h2>Episódios</h2>
    {% for episodio in object.episodios.all %}
    <a href="{{episodio.link}}">
        <p>Episodio {{ forloop.counter }}: {{episodio}}</p>
    </a>
    {% endfor %}
</div>
<div>
    <h1>TESSTESSS</h1>
    {% for filme in filmes_relacionados %}
      <p>
          <a href="{% url 'filme:detalhesfilme' filme.pk %}">
              {{filme.titulo}}
          </a>
      </p>
    {% endfor %}
</div>
{% endblock %}
