{% extends 'base.html' %}

{% block titulo %}
HomeFilmes
{% endblock %}

{% block content%}
<div class="py-40">
    <h1>Lista de Filmes</h1>
    <hr>
    {% for filme in object_list%}
    <a href="{% url 'filme:detalhesfilme' filme.pk %}"><p>{{filme.titulo}}</p></a>
    <p>{{filme.descricao}}</p>
    <img src="{{filme.thumb.url}}">
    {% endfor%}
</div>

<div>
    <h2>Novo</h2>
    {{lista_filmes_recentes}}
    <h2>Mais Visto</h2>
    {{lista_filmes_emalta}}
</div>

<a href=""> Link Personalizado </a>
{% endblock %}