{% extends 'base.html' %}
{% load static %}

{% block titulo %}
HomeFilmes
{% endblock %}

{% block head %}
    <style>
      $itemGrow: 1.2;
        $duration: 250ms;

    html {
    scroll-behavior: smooth;
    }

    body {
    margin: 0;
    background-color: #000;
    }

    h1 {
    font-family: Arial;
    color: red;
    text-align: center;
    }

    .wrapper {
    display: grid;
    grid-template-columns: repeat(3,100%);
    overflow:hidden;
    scroll-behavior: smooth;

    section {
      width: 100%;
      position: relative;
      margin: 20px 0;

      .item {
        padding: 0 2px;
        transition: $duration all;

        &:hover {
          margin: 0 40px;
          transform: scale(1.2);
        }

      }

      a {
        /* position: absolute; */
        color: #fff;
        text-decoration: none;
        font-size: 6em;
        background:rgb(0,0,0);
        text-align: center;
        z-index: 1;

      }

      &>a:first-child {
        position: absolute;
          left:0;
          background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }
        &>a:last-child {
          position: absolute;
          right: 0;
          background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }
    }
    }

    // Remove the arrow for Mobile
    @media only screen and (max-width: 600px) {
    a.arrow__btn {
      display:none;
    }
    }
    </style>
{% endblock %}

{% block content%}

    <main class='bg-primary_black min-h-screen w-full'>
        <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex items-end bg-cover" style="background-image: url('{{ filme_destaque.thumb.url}}');">
            <div>
                <h2 class="text-6xl font-semibold text-white my-4">
                    {{filme_destaque.titulo}}
                </h2>
                <p class=" w-11/12 md:w-5/12 font-medium text-white my-4">
                    {{filme_destaque.titulo}}
                </p>
                <div class="flex my-4">
                    <a href="{% url 'filme:detalhesfilme' filme_destaque.pk %}">
                        <button class="flex items-center bg-black py-2 px-5 rounded-md" style='color:white;'>
                            <ion-icon name="play" class="text-2xl"></ion-icon>
                            <span class="ml-3 font-medium " >
                                Play
                            </span>
                        </button>
                    </a>
                </div>
            </div>
        </section>


        <section class='bg-primary_black flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Novo
                </h2>
                <div class="wrapper">
                  <section id="section1" class="flex flex-nowrap items-center justify-center space-x-8">
                    <a href="#section2" class="arrow__btn text-6xl page">‹</a>
                      {% for filme in lista_filmes_recentes %}
                      {% if forloop.counter < 5 %}
                      <div class="item h-64 w-1/4 m-4">
                          <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                            <img src="{{filme.thumb.url}}" class="rounded-md w-full h-full object-cover">
                          </a>
                      </div>
                      {% endif %}
                      {% endfor %}
                        <a href="#section2" class="arrow__btn text-6xl">›</a>

                  {% if lista_filmes_recentes|length > 4 %}
                  </section>
                      <section id="section2" class="flex flex-nowrap items-center justify-center">
                        <a href="#section1" class="arrow__btn text-6xl">‹</a>
                        {% for filme in lista_filmes_recentes %}
                        {% if forloop.counter > 5 %}
                        <div class="item h-64 w-1/4 m-4">
                          <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                            <img src="{{filme.thumb.url}}" class="rounded-md w-full h-full object-cover">
                          </a>
                         </div>
                        {% endif %}
                        {% endfor %}
                        <a href="#section1" class="arrow__btn text-6xl">›</a>
                      </section>
                  {% endif %}
                </div>


            </div>
        </section>


        <section class='bg-primary_black flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Em Alta
                </h2>
                <div class="wrapper">
                  <section id="section1emalta" class="flex flex-nowrap items-center justify-center space-x-8">
                    <a href="#section2emalta" class="arrow__btn text-6xl page">‹</a>
                      {% for filme in lista_filmes_emalta %}
                      {% if forloop.counter < 5 %}
                      <div class="item h-64 w-1/4 m-4">
                          <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                            <img src="{{filme.thumb.url}}" class="rounded-md w-full h-full object-cover">
                          </a>
                      </div>
                      {% endif %}
                      {% endfor %}
                        <a href="#section2emalta" class="arrow__btn text-6xl">›</a>

                  {% if lista_filmes_emalta|length > 4 %}
                  </section>
                      <section id="section2emalta" class="flex flex-nowrap items-center justify-center">
                        <a href="#section1emalta" class="arrow__btn text-6xl">‹</a>
                        {% for filme in lista_filmes_emalta %}
                        {% if forloop.counter > 5 %}
                        <div class="item h-64 w-1/4 m-4">
                          <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                            <img src="{{filme.thumb.url}}" class="rounded-md w-full h-full object-cover">
                          </a>
                         </div>
                        {% endif %}
                        {% endfor %}
                        <a href="#section1emalta" class="arrow__btn text-6xl">›</a>
                      </section>
                  {% endif %}
                </div>


            </div>
        </section>

        <section class='bg-primary_black flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Filmes Vistos
                </h2>
                <div class="wrapper">
                  <section id="section1vistos" class="flex flex-nowrap items-center justify-center space-x-8">
                    <a href="#section2vistos" class="arrow__btn text-6xl page">‹</a>
                      {% for filme in request.user.filmes_vistos.all %}
                      {% if forloop.counter < 5 %}
                      <div class="item h-64 w-1/4 m-4">
                          <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                            <img src="{{filme.thumb.url}}" class="rounded-md w-full h-full object-cover">
                          </a>
                      </div>
                      {% endif %}
                      {% endfor %}
                        <a href="#section2vistos" class="arrow__btn text-6xl">›</a>

                  {% if request.user.filmes_vistos.all|length > 4 %}
                  </section>
                      <section id="section2vistos" class="flex flex-nowrap items-center justify-center">
                        <a href="#section1vistos" class="arrow__btn text-6xl">‹</a>
                        {% for filme in request.user.filmes_vistos.all %}
                        {% if forloop.counter > 5 %}
                        <div class="item h-64 w-1/4 m-4">
                          <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                            <img src="{{filme.thumb.url}}" class="rounded-md w-full h-full object-cover">
                          </a>
                         </div>
                        {% endif %}
                        {% endfor %}
                        <a href="#section1vistos" class="arrow__btn text-6xl">›</a>
                      </section>
                  {% endif %}
                </div>


            </div>
        </section>

    </main>
{% endblock %}
<!--
<div class="py-40">
    <h1>Lista de Filmes</h1>
    <hr>
    {% for filme in object_list%}
    <a href="{% url 'filme:detalhesfilme' filme.pk %}"><p>{{filme.titulo}}</p></a>
    <p>{{filme.descricao}}</p>
    <img src="{{filme.thumb.url}}">
    {% endfor%}
</div>

<div>
    <h2>Novo</h2>
    {{lista_filmes_recentes}}
    <h2>Mais Visto</h2>
    {{lista_filmes_emalta}}
</div>

<a href=""> Link Personalizado </a>

-->