{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container">
    <h1>Usuários Cadastrados</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.id_usuario}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.idade}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}